name: Java Build CI

on:
  push:
    branches: [ "main" ]
    paths: 
      - 'hl4-backend/**'
  pull_request:
    branches: [ "main" ]
    paths: 
      - 'hl4-backend/**'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: cd ./hl4-backend && mvn clean package -Dmaven.test.skip=true
    - name: copy files
      run: cp ./hl4-backend/src/main/resources/application.yml ./hl4-backend/target/application.yml
    - name: Upload JAR file
      uses: actions/upload-artifact@v3
      with:
          name: newLangs4Backend
          path: |
            ./hl4-backend/target/application.yml
            ./hl4-backend/target/*.jar
